version: "3.9"

services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs:ro
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
    networks:
      - webnet

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: acme-companion
    restart: always
    depends_on:
      - nginx-proxy
    environment:
      - NGINX_PROXY_CONTAINER=nginx-proxy
      - DEFAULT_EMAIL=info.surprisehub@gmail.com
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/etc/nginx/certs:rw
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
    networks:
      - webnet

  kcode:
    image: kkpanuwatt/kcode:latest
    container_name: kcode
    restart: always
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=kcode.online,www.kcode.online,kcode.fun,www.kcode.fun
      - LETSENCRYPT_HOST=kcode.online,www.kcode.online,kcode.fun,www.kcode.fun
      - LETSENCRYPT_EMAIL=info.surprisehub@gmail.com
    networks:
      - webnet

networks:
  webnet:
    driver: bridge